@font-face {
  font-family: 'digital-7regular';
  src: url('digital-7-webfont.woff2') format('woff2'),
       url('digital-7-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.disable-zoom {
  touch-action: manipulation;
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  font-family: sans-serif;
  font-size: 14px;
  font-weight: bold;
  height: 100%;
}

a {
  color: #000;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

#wrapper {
  background: #eadcc0;
  border-radius: 5px;
  padding: 2em 1em 1em;
}

#main {
  background: #4d4d4d;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  padding: 2em 1em 1em;
  position: relative;
  gap: 1em;
}

#logo {
  background: #4d4d4d;
  border-radius: 5px 5px 0 0;
  color: #eadcc0;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 1.5em;
  left: 0;
  letter-spacing: .1em;
  padding: 10px 10px 0 10px;
  position: absolute;
  text-transform: uppercase;
  top: -1em;
}

#row1 {
  margin-bottom: 1em;
  position: relative;
}

.operator {
  color: aquamarine;
  font-size: 1.5em;
  line-height: 1;
  padding: 0.5em;
  position: absolute;
}

.display {
  background: #161616;
  border: 1px solid #000;
  color: aquamarine;
  font-family: 'digital-7regular', sans-serif;
  font-size: 5em;
  line-height: 1;
  padding: 3px 10px;
  text-align: right;
  width: 100%;
}

button {
  background: #eadcc0;
  font-family: 'Nunito Sans',sans-serif;
  font-size: 2.5em;
  font-weight: 600;
  height: 25%;
  min-height: 1.8em;
  min-width: 1.8em;
  width: 25%;
}

button.op {
  background: #bfcfce;
}

.row {
  display: flex;
  gap: 1em;
}

#row6 button {
  min-height: 2.1em;
}

#row6 button:last-child {
  background: #fe8131;
  width: 37.5%;
}

#row6 button:first-child {
  width: 37.5%;
}